html,
body{
	height: 100vh;
	font-family: Roboto,sans-serif;
	padding: 10px;
}

input{
	display: flex;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

button{
	display: flex;
	width: 20%;
	height: 4%;
	justify-content: center;
	align-items: center;
	background-color: rgb(10, 127, 32);
	color: #ffff;
	border: none;
	margin-top: 0.5%;
	font-weight: bold;
}